
.placeholder{
  background-color: rgb(200,200,255);
  border: 2px solid rgb(50,50,100);
}
section {
  border:1px dotted rgb(35,95,163);
  text-align: center;
}
section h2 {
  font-size: 12pt;
  text-transform: uppercase;
  color: #999999;
  margin-top: 1em;
  margin-bottom: 0;
}

}
section.label{
  font-size: 10pt;
  color: #999;
  text-transform: capitalize;
}
section.ban{
  font-size: 20pt;
  color: rgb(35,95,163);
  font-weight: bold;
  margin-top: 0;
}
#taskTable > tbody > tr{
  border-left: 12px solid #eee;
  cursor: pointer;
}
#taskTable.table-hover> tbody > tr:hover {
  /*background-color: rgb(35,95,163); */
}

#taskTable > tbody > tr.current_sprint{
  border-left: 12px solid rgb(35,95,163);
}
tr{cursor: pointer;}
